
#container{
    width: 570px;
    height: 550px;
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    


}

.item{
    border: 3px solid black;
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 5px;
    font-size: 50px;
    text-align: center;
    
    
}

#div1{
    width: 200px;
}
















